@import url(theme/dark.css);
@import url(theme/light.css);

* {
  margin: 0;
  padding: 0;
}

:root {
  --height-header: 70px;

  --header-control-px: 0.25rem;
  --header-control-py: 0.5rem;

  --header-control-radius: 30% 15%;
  --header-control-transition: 0.2s ease;

  --header-control-hover-translate: -1px;

  --header-exit-radius: 15% 7%;
  --header-exit-padding-y: 0.3rem;
  --header-exit-padding-x: 0.5rem;

  --font-size: 0.875rem;

  --field-border-radius: 0.3rem;
  --field-gap: 0.5rem;

  --button-border-radius: 0.25rem;

  --icon-filter-size: 18px;
  --icon-search-size: 18px;
}

.footer-dates {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #64748b;
  margin-top: 10px;
}

header {
  height: var(--height-header);
  color: var(--header-fg);
  background-color: var(--header-bg);
  box-shadow: 0 2px 5px var(--box-shadow-color);

  display: flex;
  align-items: center;

  padding: 0 2rem;

  gap: 2rem;
}

@media (max-width: 768px) {
  header {
    gap: 1rem;
    padding: 0 0.5rem;
  }
}

@media (max-width: 1024px) {
  header {
    gap: 1rem;
    padding: 0 1rem;
  }
}

section {
  padding: 1rem;

  background: var(--section-bg);
  height: calc(100vh - var(--height-header) - 2rem);
}

.flex {
  display: flex;
}

.status {
  padding: 6px 10px;
  border-radius: 999px;

  font-size: 11px;
  font-weight: 600;

  border: 1px solid var(--status-border);

  background: var(--status-bg);
  color: var(--status-color);

  white-space: nowrap;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-between-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

.dark-card {
  background: linear-gradient(180deg, var(--card-bg-start), var(--card-bg-end));
  color: var(--card-text);

  padding: 1rem;
  margin: 0.5rem 0;

  border: 1px solid var(--card-border);
  box-shadow: var(--card-shadow);
  border-radius: 14px;
}
